<table class="table table-hover matchtable">
    <legend>{{ cLeague.mtgFormat }} League with {% if cLeague.myFlavor %}{{cLeague.myFlavor}}{%endif%} {{cLeague.myDeck}} on {{cLeague.dateCreated|date:"M d, Y"}}</legend>
    <thead>
        <th></th>
        <th>their name</th>
        <th>their deck</th>
        <th colspan="3">Games 1, 2, and 3</th>
        <th>result</th>

        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for match in matches %}
            <tr>
                <td>{{ match.inLeagueNum }}.</td>
                <td>{{ match.theirName }}</td>
                <td>{{ match.theirDeck }}{% if match.theirFlavor %}, {{match.theirFlavor}}{% endif %}</td>
                {% if match.game1 == 1 %}
                <td><i class="bi bi-check2" style=" font-size: 2rem;color: rgb(102, 255, 47)"></i></td>
                {% elif match.game1 == 0 %}
                <td><i class="bi bi-x" style="color: red;"></i></td>
                {% else %}
                <td></td>
                {% endif %}
                {% if match.game2 == 1 %}
                <td><i class="bi bi-check2" style=" font-size: 2rem;color: rgb(102, 255, 47)"></i></td>
                {% elif match.game2 == 0 %}
                <td><i class="bi bi-x" style="color: red;"></i></td>
                {% else %}
                <td></td>
                {% endif %}
                {% if match.game3 == 1 %}
                <td><i class="bi bi-check2" style=" font-size: 2rem;color: rgb(102, 255, 47)"></i></td>
                {% elif match.game3 is None %}
                <td></td>
                {% elif match.game3 == 0 %}
                <td><i class="bi bi-x" style="color: red;"></i></td>
                {% else %}
                <td></td>
                {% endif %}

                {% if match.didjawin == 1 %}
                    <td><i class="bi bi-check-circle" style=" font-size: 2rem; color: rgb(102, 255, 47)"></i></td>
                {% elif match.didjawin == 0 %}
                    <td><i class="bi bi-x-circle" style="font-size: 2rem; color: red;"></i></td>
                {% else %}
                    <td>unplayed</td>
                {% endif %}
                <td style="padding: 0;">
                    <button class='btn' hx-get="{% url 'edit_match' match.pk %}" hx-target="closest tr" hx-swap="outerHTML"><i class="bi bi-pencil" style="font-size: 2rem"></i></button>
                    <button class='btn' hx-get="{% url 'clear_match' match.pk %}" hx-confirm="clear match data?" hx-target="closest tr" hx-swap="outerHTML" ><i class="bi bi-recycle" style="font-size: 1rem; color: red;"></i></svg></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>