<table class="table table-hover">
    <thead>
        <th>their name</th>
        <th>their deck</th>
        <th>didjawin</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for match in matches %}
            <tr>
                <td>{{ match.theirname }}</td>
                <td>{{ match.theirDeck }}</td>
                <td>{{ match.didjawin }}</td>
                <td>
                    <button class='btn' hx-get="#" hx-target="closest tr" hx-swap="outerHTML"><svg class="bi bi-pencil" width="32" height="32"><use xlink:href="#pencil"></svg></button>
                    <button class='btn' hx-confirm='Are you Sure?' hx-target="closest tr" hx-swap="outerHTML swap:1s" hx-delete="#"><svg class="bi bi-trash3" width="32" height="32"><use xlink:href="#trash3"></svg></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>