asgiref==3.7.2
beautifulsoup4==4.12.2
crispy-bootstrap5==2023.10
Django==4.2.7
django-crispy-forms==2.1
django-livereload-server==0.4
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tornado==6.3.3
typing_extensions==4.8.0
tzdata==2023.3
