<table class="table table-hover">
    <thead>
        <th>Name</th>
        <th>Format</th>
        <th>Archetype</th>
        <th>Test num of flavors</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for deck in decks %}
            <tr>
                <td>{{ deck.name }}</td>
                <td>{{ deck.mtgFormat }}</td>
                <td>{{ deck.archetype }}</td>
                <td></td>

                <td>
                    <button class='btn' hx-get="{% url 'edit_deck' deck.pk %}" hx-target="closest tr" hx-swap="outerHTML"><svg class="bi bi-pencil" width="32" height="32"><use xlink:href="#pencil"></svg></button>
                    <button class='btn' hx-confirm='Are you Sure?' hx-target="closest tr" hx-swap="outerHTML swap:1s" hx-delete="{% url 'delete_deck' deck.pk %}"><svg class="bi bi-trash3" width="32" height="32"><use xlink:href="#trash3"></svg></button>
                </td>
            </tr>
            {% if deck.flavors.count > 1 %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    
                    <table class="table">
                        <tbody>
                            {% for flavor in deck.flavors.all %}
                            <tr>
                                <td>{{flavor.name}}, </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </td>
            </tr>
            {% endif %}

        {% endfor %}
    </tbody>
</table>