{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1>Profile for: {{user.username}} </h1>

    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Profile Info
                </legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <button type="submit">Update</button>
        </form>
    </div>

{% endblock content %}