{% extends 'base/base.html' %}
{% block content %}
    <div class="container" id="newleague">
        <button class='btn' hx-get="{% url 'add_league' %}" hx-target="#newleague">
            <svg class="bi bi-plus" width="32" height="32"><use xlink:href="#plus"></svg>
            <small>start new league</small>
        </button>
    </div>


    <div class="container" id="newltarg"> 
        <div id="query_result" hx-target="this" hx-swap="innerHTML" hx-get="{% url 'get_league_current' %}" hx-trigger="load"></div>
    </div>
    <h2>Past Leagues: </h2>
    <div class="container">
        <div id="query_result" hx-target="this" hx-swap="innerHTML" hx-get="{% url 'get_leagues_accordion' %}" hx-trigger="load"></div>
    </div>




{% endblock content %}