{% extends 'base/base.html' %}
{% block content %}
    <h1>Anan!</h1>
    <div class="container">
      <form>
        <input type="text" name="archselect">
        <select name="formatselect">
          {% for mtgformat in mtgformats %}
            <option value="{{mtgformat.id}}">{{mtgformat.name}}</option>
          {% endfor %}
        </select>
        <button hx-post="{% url 'testpost' %}" hx-target="#testtarg" type="submit">add archtype</button>
      </form>
    </div>
    <div id="testtarg"></div>



    <div class="container mb-4">
      <form method="post", action="">
          <legend>Here's a fun select thing:</legend>

          <button hx-post="{% url 'test' %}" hx-include="closest select" hx-trigger="click">htmx submit button</button>
      </form>
      
    </div>

  <div class="container">
    <h1>Form</h1>
    {{mform}}
  </div>

    <div class="d-grid gap-3">
        <div class="p-2 bg-light border">Grid item 1</div>
        <div class="p-2 bg-light border">Grid item 2</div>
        <div class="p-2 bg-light border">Grid item 3</div>
    </div>

    <div class="container">
        new content and I keep writing more stuff. And now I have all three working together. Wow
    </div>

{% endblock content %}